body {
    background-color: gray;
}

h1 {
    color: maroon;
    margin-left: 40px;
} 
input {
    
	padding: 6px 5px;
    margin: 2px 0;
    box-sizing: 
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
	font-size: 20px;
	 
}
input:invalid { 
    border: 2px solid red;
}
button{
	padding:6px 5px;
	font-size:20px;
}
div{
	padding: 6px 5px;
	font-size:40px;
}
#comment{
	display:inline-block;
	padding:5px 5px;
    color:black;
    background-color:red ;
    visibility:hidden;
   	margin: auto;
}
