<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">

	<display-name>IWantSomthing</display-name>

	<welcome-file-list>
		<welcome-file>Home.html</welcome-file>
	</welcome-file-list>
	<description></description>
	<servlet>
		<display-name>LoginController</display-name>
		<servlet-name>LoginController</servlet-name>
		<servlet-class>controllers.LoginController</servlet-class>
	</servlet>
	<servlet>
		<display-name>RegisterController</display-name>
		<servlet-name>RegisterController</servlet-name>
		<servlet-class>controllers.RegisterController</servlet-class>
	</servlet>
	<servlet>
		<display-name>LogoutController</display-name>
		<servlet-name>LogoutController</servlet-name>
		<servlet-class>controllers.LogoutController</servlet-class>
	</servlet>
	<servlet>
		<display-name>VerifyController</display-name>
		<servlet-name>VerifyController</servlet-name>
		<servlet-class>controllers.VerifyController</servlet-class>
	</servlet>
	<servlet>
		<display-name>CheckUsernameController</display-name>
		<servlet-name>CheckUsernameController</servlet-name>
		<servlet-class>controllers.CheckUsernameController</servlet-class>
	</servlet>
	<servlet>
		<display-name>CheckDetailsController</display-name>
		<servlet-name>CheckDetailsController</servlet-name>
		<servlet-class>controllers.CheckDetailsController</servlet-class>
	</servlet>
	<servlet>
		<display-name>ForgotPasswordController</display-name>
		<servlet-name>ForgotPasswordController</servlet-name>
		<servlet-class>controllers.ForgotPasswordController</servlet-class>
	</servlet>
	<servlet>
		<display-name>UploadItemController</display-name>
		<servlet-name>UploadItemController</servlet-name>
		<servlet-class>controllers.UploadItemController</servlet-class>
	</servlet>
	<servlet>
		<display-name>ForumController</display-name>
		<servlet-name>ForumController</servlet-name>
		<servlet-class>controllers.ForumController</servlet-class>
	</servlet>
	<servlet>
		<display-name>NewMassageController</display-name>
		<servlet-name>NewMassageController</servlet-name>
		<servlet-class>controllers.NewMassageController</servlet-class>
	</servlet>
		<servlet>
		<display-name>VerifyResetController</display-name>
		<servlet-name>VerifyResetController</servlet-name>
		<servlet-class>controllers.VerifyResetController</servlet-class>
	</servlet>
		<servlet>
		<display-name>CheckItemController</display-name>
		<servlet-name>CheckItemController</servlet-name>
		<servlet-class>controllers.CheckItemController</servlet-class>
	</servlet>
			<servlet>
		<display-name>CreditCardController</display-name>
		<servlet-name>CreditCardController</servlet-name>
		<servlet-class>controllers.CreditCardController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Pictures</servlet-name>
	<servlet-class>Pictures</servlet-class>
	</servlet>
		<servlet>
		<display-name>SearchItemController</display-name>
		<servlet-name>SearchItemController</servlet-name>
		<servlet-class>controllers.SearchItemController</servlet-class>
	</servlet>



	<servlet-mapping>
		<servlet-name>LoginController</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegisterController</servlet-name>
		<url-pattern>/Register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutController</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>VerifyController</servlet-name>
		<url-pattern>/Verify</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CheckUsernameController</servlet-name>
		<url-pattern>/CheckUsername</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CheckDetailsController</servlet-name>
		<url-pattern>/CheckDetails</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ForgotPasswordController</servlet-name>
		<url-pattern>/ForgotPassword</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>VerifyResetController</servlet-name>
		<url-pattern>/VerifyReset</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UploadItemController</servlet-name>
		<url-pattern>/UploadItem</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ForumController</servlet-name>
		<url-pattern>/ForumControl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NewMassageController</servlet-name>
		<url-pattern>/NewMassage</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
		<servlet-name>CheckItemController</servlet-name>
		<url-pattern>/CheckItem</url-pattern>
	</servlet-mapping>
			<servlet-mapping>
		<servlet-name>CreditCardController</servlet-name>
		<url-pattern>/CreditCard</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	<servlet-name>Pictures</servlet-name>
	<url-pattern>/Pictures/*</url-pattern>
</servlet-mapping>
			<servlet-mapping>
		<servlet-name>SearchItemController</servlet-name>
		<url-pattern>/SearchItem</url-pattern>
	</servlet-mapping>


</web-app>